.TodoItem {
    background-color: #ffd166;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(32, 35, 41, 0.15);
  }
  
  .TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    transition: all 0.3s;
    font-weight: 400;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
    font-style: italic;
  }

.TodoItem:hover {
  p {
    font-weight: bold;
  }

}
