body {
  margin: 0;
  font-family: 'montserrat', sans-serif;
  background-color: #ef476f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
